@use "../helpers" as *;

.section {
    &__header {
        background-color: var(--color-dark-10);
        padding-block: fluid(120, 40);

        &-info {
            display: grid;
            align-items: start;
            row-gap: rem(16);

            @include laptop {
                row-gap: rem(10);
            }
        }
    }

    &__subtitle {
        justify-self: start;
    }

    &__body {
        border-block: var(--border);
    }
}
