@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'block/icon';
@use 'block/logo';
@use 'block/button';
@use 'block/burger-button';
@use 'block/header';
@use 'block/badge';
@use 'block/footer';
@use 'block/soc1als';

@use 'block/metrics';
@use 'block/team';
@use 'block/resources-preview';
@use 'block/advantage-card';
@use 'block/hero';

@use 'block/tag';
@use 'block/section';
@use 'block/list';
@use 'block/tile';
@use 'block/card';




.header, main > *:not(:last-child), .footer {
    display: none !important;
}