@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'block/icon';
@use 'block/logo';
@use 'block/button';
@use 'block/burger-button';
@use 'block/header';
@use 'block/badge';
@use 'block/footer';
@use 'block/soc1als';


header {
    display: none !important;
}